*{
    box-sizing: border-box;
    font-family: 'Quicksand',!important;
   
    list-style-type: none;
}
.deneme{
    overflow: hidden ,!important;
}
.header{
    overflow: hidden;
}
.container-fluid{
    overflow: hidden;
   
}
.main{
    overflow: hidden;
}

.header img{
    width: 193px;
    height: 74px;
    margin-left: 270px;
    margin-top: 18px;
}
.list{
    right: 0;
    top: 0;
}
.header ul {
    display: flex;
    margin-right: 100px;

}
.header .list ul li{
    margin-right: 35px;
}
.header .list ul li a{
    list-style-type: none;
    padding: 10px;
    margin-top: 38px;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-weight:lighter;
    font-size: 13px;
    margin-right: 20px;
    color: #414141;
    transition: all 0.3s ease;
}
.header .list ul li a.active{
    color: #108533;
}

.header .list ul li a:hover{
    color: #b1d3bb;
}

.header .list ul li a.btn{
    color: #fff;
    background-color: rgb(10, 30, 10);
    font-weight: bolder;
    padding-left:40px ;
    padding-right: 40px;
    margin-top: 30px;
    font-size: 14px;
    border-radius: 0;

    font-family: 'Signika Negative', sans-serif;
}
.header .list ul li a.btn:hover{
    background-color: #108533;
}
.container-fluid{
    overflow: hidden;
}
.container-fluid .left{
    height: 600px;
  
   
}
.container-fluid .orta{
    height: 600px;
   
}
.container-fluid .right{
    height: 600px;
    
    
}
.container-fluid .left img{
    width: 100%;
}
.container-fluid .orta img{
    width: 100%;
}
.container-fluid .right img{
    width: 100%;
}

.main{
    background-color: #fafafa;

}
.main .p1 ,.p2{
    font-size: 30px;
    padding-top: 30px;
    color: #2b5336;
}
.main .p2{
    padding-right: 200px;
    padding-left: 200px;
    font-size: 20px;
}

.main .p3 .btn{
    color:#2b5336 ;
   border: 2px solid black;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 30px;
    transition: 0.3s all ease;
    margin-top: 30px;
}
.main .p3 .btn:hover{
    border:2px solid #108533;
    background-color: #108533;
    
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

.section{ 
    
    
   width: 100%;
}
.section img{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
    object-fit:cover;
    object-position: 50% 50%;
}


.footer{
    width: 100%;
    height: 200px;
}

.footer .footer-img{
    margin-left: 250px;
    margin-top: 20px;
}


.footer img{
    
    width: 242px;
    height: 108px;
}

.footer-img2 img{
    width: 189px;
    height: 39px;
    margin-left: 240px;
    margin-top: 10px;
}


.footer-orta{
    font-size: 10px;
    color: #414141;
    width: 230px;
    height:200px;
    margin-top: -170px;
    margin-left: 640px;
   
}

.footer-orta .sol1-ust1{
    top: 0;
    left: 5px;
}
.footer-orta .sol1-ust2{
    top: 25px;
    left: 5px;
}
.footer-orta .sol1-ust3{
    top: 50px;
    left: 5px;
}
.footer-orta .sol1-ust4{
    top: 75px;
    left: 5px;
}
.footer-orta .sol1-ust5{
    top: 100px;
    left: 5px;
}
.footer-orta .sol1-ust6{
    top: 125px;
    left: 5px;
}
.footer-orta .sol1-ust7{
    top: 150px;
    left: 5px;
}
.footer-orta .sol1-ust8{
    top: 175px;
    left: 5px;
}


.footer-orta .sag1-ust1{
    top: 25px;
    right: 10px;
}
.footer-orta .sag1-ust2{
    top: 50px;
    right: 10px;
}
.footer-orta .sag1-ust3{
    top: 75px;
    right: 10px;
}
.footer-orta .sag1-ust4{
    top: 100px;
    right: 10px;
}
.footer-orta .sag1-ust5{
    top: 125px;
    right: 10px;
}
.footer-orta .sag1-ust6{
    top: 150px;
    right: 10px;
}
.footer-orta .sag1-ust7{
    top: 175px;
    right: 10px;
}

.footer .copyright1{
    margin-top: -20px;
    margin-left: 20px;
}
.footer .copyright1 a{
   
    color: #414141;
}
.footer-right{
    font-size: 20px;
    height: 200px;
    width: 200px;
    margin-top: -190px;
    margin-left: 1000px;
}

.footer-right a{
    color: #414141;
}

.footer-right a:hover{
    color: #414141;
}

.kutu2{
    position: relative;
    cursor: pointer;
}

.kutu2::before{
    content: "Explore";
    font-size: 50px;
    text-align: center;
  z-index: 3;
    color:#108533;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: 250px;
    right: 0;
    transform: scale(0);
    transition: all 0.5s ease;
    position: absolute;
    cursor: pointer;

}
.kutu2:hover::before{
    transform: scale(1);
    
}

.kutu2:hover img{
  background-color: rgba(0, 0,0, 0.6);
  opacity: 0.7;
}

